.emacs.d/auto-save-list/*
.emacs.d/elpa/*
*.elc
.places
/.emacs.d/.emacs.desktop
/.emacs.d/.emacs.desktop.lock
/.emacs.d/.last-package-update-day
/.emacs.d/amx-items
/.emacs.d/places
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/recentf
/.emacs.d/transient/
/.emacs.d/straight/
/.emacs.d/projectile.cache
/.emacs.d/eshell/
/.emacs.d/history
/.emacs.d/eln-cache/
/.emacs.d/devdocs/
/.emacs.d/bookmarks
